*
{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /* Reset */

body
{
    scroll-behavior: smooth;
    margin: 5px 90px;
    background: url(../img/choisir/fond012.jpg) fixed;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Proza+Libre');


h1
{
    text-align: center;
    color: #90b2e4;
    font-size: 2.4em;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

h2
{
    font-size: 35px;
    color: #2c3e50;
    padding: 20px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h3
{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    font-family: 'Anton', sans-serif;
}

blockquote
{
    font-style: italic;
    font-size: 120%;
}

strong
{
    font-weight: bold;
}

main
{
     /* pas de hauteur car il contient aside et section donc il se dimension selon eux*/
    width: 100%;
    margin: 0 auto;

}

main p
{
    font-family: 'Proza Libre', sans-serif;
    font-size:0.9em;
}

aside
{
    height:250px;
    background: yellow;
}

section
{
    padding: 20px;
}

#zoneDuHaut
{
    width: 100%;
    background: #282A2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact
{
    width: 65%;
    padding: 0 10px;
}

#contact p
{
    margin: auto;
    padding: 3px 10px;
    color: #95938C;
    display: inline-block;
}

.reseauSociaux
{
    width: 33%;
    text-align: right;
}

.reseauSociaux i
{
    font-size: 1.8em;
    color: #95938C;
    /*margin: 0 10px;*/
    letter-spacing: 20px;
    text-align: center;
}

.reseauSociaux i:nth-child(1):hover, .reseauSociaux i:nth-child(2):hover, .reseauSociaux i:nth-child(3):hover, .reseauSociaux i:nth-child(4):hover
{
    background: #282A2B;
    border-radius: 3px;
    transition: 0.3s;
    transform: scale(1.5);
    color: white;
    border: 2px outset white;
}



               /****************** Fin du HEADER ******************/
               /****************** Début du MENU ******************/
#zone_du_haut
{
   background: #333637;
   width: 100%;
   height: 15vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.name
{
    width: 40%;
    padding: 26px 7px;
    float:left;
}


nav
{
   margin-top: -2px;
}

nav a
{
    display: inline-block;
    padding: 4px 12px 8px 10px;
    margin: 9px 11px;
    background: #254b62;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    color: #90b2e4;
    text-decoration: none;
}

nav a:hover
{
    border-bottom: 2px inset #a1a5ac;
    color: white;
    background: #90b2e4;
    box-shadow: none;
}

nav ul li
{
    list-style: none;
    float: left;
}

button
{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 350%;
    color: #282A2B;
}

button:hover
{
    transition: 1.5s;
    color: #90b2e4;
}
  /************************FIN MENU *************************************/

  /****************** section apres menu (photo)**************************/

#zoneHaut
{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photoFond
{
     width: 10%;
     position: relative;
     top: 10px;
     left: 63px;
}

.photoFond img
{
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    margin: 49px auto;
    padding: 0;
}

.photoTexte
{
    position: absolute;
    width: 32%;
    height: 80px;
    top: 15px;
    left: 69px;
    box-shadow: 0 0 8px rbga(0, 0, 0, 0.3);
}

.photoTexte p span:before
{
    content:'';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 7px solid rgba(255,255,255,.3);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}


.photoFond p
{
    position: absolute;
    z-index: 2;
    width: 210px;
    margin: auto;
    background: rgba(255,255,255,.2);
    left: 9px;
    top: 207px;
    padding: 6px;
    border-radius: 56px;
    font-weight: bold;
    color: white;
    font-size: 73%;
}

.description
{
    width: 60%;
    float: right;
    padding: 0 150px;
}

.description p
{
    color: white;
    font-weight: bold;
    float: left;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.6)
}

span.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

      /****************** Fin du section apres menu ******************/

        /********************** DEBUT SECTION ***********************/
        /********************** FIN SECTION ***********************/
.premiere
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 30vh;
}

#competences, #formation, #informatique
{
    width: 70%;
    /*padding: 136px 544px;*/
    text-align: justify;
    background: rgba(255,255,255,0.3);
    border-radius: 40px;
    padding: 0 86px;
    margin: 107px 230px;
}

main i
{
    font-size: 2em;
    color: #90b2e4;
}

.interieur
{
    padding: 0;
    margin: 0;

}
   /************************* DEBUT FOOTER *****************************/
footer
{
   background: #333637;
   width: 100%;
}

footer h3
{
    padding-left: 121px;
    color: #95938C;
    font-weight: bold;
}

footer i
{
    color: #95938C;
}

#contact_cv
{
    color: white;
    background: #333637;
    border-bottom: 4px solid #282A2B;
}

.bas
{
    width: 20%;
}

.bas a
{
    text-decoration: none;
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    color: white;
    text-align: center;
}

.bas a:hover
{
    text-decoration: underline;
}

    /************************* FIN FOOTER *****************************/
    body
    {
        margin: 0;
    }

    .content
    {
        margin: 1% 3%;
    }

    .mainRS
    {
        display: block;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 0 3px 5px #ececec;
    }

    .RS
    {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: 0;
        overflow-y: hidden;
        text-align: center;
    }

    .RS li
    {

        width: 20%;
    }

    .RS li:hover
    {
        cursor: pointer;
    }

    .RS a
    {
        color: #eee;
        text-decoration: none;
        display: inline-block;
        width: 16%;
        padding: 5px 15px;
    }

    .RS li:first-child
    {
        border-left: 0;
    }

    .RS a:hover
    {
        color: white;
    }

    label.menuTitle
    {
        text-align: left;
        font-size: 50px;
        height: 60px;
        width: 100px;
        margin-right: 1%;
        display: block;
        font-weight: bold;
        cursor: pointer;
        background: url(../img/logors.jpg) no-repeat 97% 14px;
        background-size: 47px 37px;
        float: right;
    }

    .hidden
    {
        display: none;
    }

    input[name="panel"]:checked ~ .RS
    {
    max-height: 800px;
    transition: 2s;
    }





               /****************** autre ******************/

img[src="img/choisir/index6.jpg"]
{
 opacity: 0.3;
 position: relative;
 size: 10%;
}


.separation
{
   width: 100%;
   height: 20px;
   background: #282A2B;
}

.separation1
{
   width: 100%;
   height: 80px;
   background: white;
   opacity: 0.5;
}

.activ
{
   background: black;
   color: #77abb7;
}

.clear
{
    clear: both;
}

.white
{
    color: white;
}

.blue
{
    color: blue;
}
.red
{
    color: red;
}
.yellow
{
    color: yellow;
}
.green
{
    color: green;
}
.black
{
    color: black;
}
               /****************** autre ******************/
