*
{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /* Reset */

body
{
    scroll-behavior: smooth;
    margin: 5px 400px;
    background: url(../img/choisir/fond012.jpg) fixed;
    box-sizing: border-box;
}

#container
{


}

h1
{
    font-size: 45px;
    color: #50A3D9;
    margin-top: 50px;
    text-align: center;
    font-family: 'Playball', cursive;
}

h2
{
    font-size: 35px;
    color: #2c3e50;
    padding: 20px;
    font-weight: bold;
}

h3
{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
}

blockquote
{
    font-style: italic;
    font-size: 120%;
}

strong
{
    font-weight: bold;
}

main
{
    background: #ecf0f1; /* pas de hauteur car il contient aside et section donc il se dimension selon eux*/
    width: 100%;
    margin: 0 auto;
}

aside
{
    height:250px;
    background: yellow;
}

section
{
    background: white;
    padding: 20px;
}

footer
{
    background: #41CCE3;
    width: 100%;
}

#zoneDuHaut
{
    width: 100%;
    background: #282A2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact
{
    width: 65%;
    padding: 0 10px;
}

#contact p
{
    margin: auto;
    padding: 3px 10px;
    color: #95938C;
    display: inline-block;
}

.reseauSociaux
{
    width: 33%;
    text-align: right;
}

.reseauSociaux i
{
    font-size: 1.8em;
    color: #95938C;
    /*margin: 0 10px;*/
    letter-spacing: 20px;
    text-align: center;
}

.reseauSociaux i:nth-child(1):hover
{
    background: url(img/4.jpg) no-repeat;
    border-radius: 3px;
    transition: 0.3s;
    transform: scale(1.5);
}

.reseauSociaux i:nth-child(2):hover
{
    background: #099BCC;
    border-radius: 3px;
    color: white;
    transition: 0.3s;
    transform: scale(1.5);
}

.reseauSociaux i:nth-child(3):hover
{
    background: #e8f229;
    border-radius: 3px;
    color: white;
    transition: 0.3s;
    transform: scale(1.5);
}

.reseauSociaux i:last-of-type:hover
{
    background: #099BCC;
    border-radius: 3px;
    color: white;
    transition: 0.3s;
    transform: scale(1.5);
}


               /****************** Fin du HEADER ******************/
               /****************** Début du MENU ******************/
#zone_du_haut
{
   background: #333637;
   width: 100%;
   height: 15vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.name
{
    width: 30%;
    padding: 26px 7px;

}

.name p
{
    color: #41CCE3;
    font-size: 2.2em;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

nav
{
   margin-top: -2px;
}

nav a
{
    display: inline-block;
    padding: 4px 12px 8px 10px;
    margin: 9px 11px;
    background: #254b62;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    color: #41CCE3;
    text-decoration: none;
}

nav a:hover
{
    border-bottom: 2px inset #a1a5ac;
    color: white;
    background: #41CCE3;
    box-shadow: none;
}

nav ul li
{
    list-style: none;
    float: left;
}



.activ
{
   background: black;
   color: #77abb7;
}

.clear
{
    clear: both;
}

button
{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 350%;
    color: #282A2B;
}

button:hover
{
    transition: 1.5s;
    color: #33cccc;
}
  /************************FIN MENU *************************************/

  /****************** section apres menu (photo)**************************/

#zoneHaut
{
    width: 100%;
    background: #41CCE3;
    margin: 0;
    padding: 0;
}

.photoFond
{
     width: 20%;
     position: relative;
}

.photoFond img
{
    position: absolute;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.photoTexte
{
    position: relative;
    width: 32%;
    height: 80px;
    top: 15px;
    left: 69px;
    box-shadow: 0 0 8px rbga(0, 0, 0, 0.3);
}

.photoTexte p span:before
{
    content:'';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 7px solid rgba(255,255,255,.3);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}


.photoFond p
{
    position: absolute;
    z-index: 2;
    width: 210px;
    margin: auto;
    background: rgba(255,255,255,.2);
    left: 91px;
    top: 149px;
    padding: 6px;
    border-radius: 56px;
    font-weight: bold;
    color: white;
    font-size: 73%;
}

span.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

      /****************** Fin du section apres menu ******************/
        /********************** DEBUT SECTION ***********************/
        /********************** FIN SECTION ***********************/
.premiere
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 30vh;
}

.separation
{
    width: 100%;
    height: 20px;
    background: #282A2B;
    clear: both;
}














               /****************** Début du HEADER ******************/
               /****************** Fin du HEADER ******************/
               /****************** Début du HEADER ******************/
               /****************** Fin du HEADER ******************/
               /****************** Début du HEADER ******************/
               /****************** Fin du HEADER ******************/
