*
{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /* Reset */

body
{
    scroll-behavior: smooth;
}

h1
{
    font-size: 45px;
    color: #3d1860;
    margin-top: 50px;
    text-align: center;
    font-family: 'Playball', cursive;
}

h2
{
    font-size: 35px;
    color: #643579;
    padding: 20px;
    font-weight: bold;
}

h3
{
    font-size: 22px;
    color: #643579;
    padding: 15px;
}

strong
{
    font-weight: bold;
}

nav
{
    background: #643579;
    border-bottom: 4px solid #3d1860;
}

main
{
    background: #f5edf7; /* pas de hauteur car il contient aside et section donc il se dimension selon eux*/
    width: 1000px;
    margin: 0 auto;
}

aside
{
    height:250px;
    background: yellow;
}

section
{
    /*height: 600px;*/
    /*background: green;*/
    margin-top: 50px;
    padding: 20px;
}

footer
{
    background:#643579;
    height: 50px;
}


/* Fin de la premiere partie (mise en forme de la page) */
/********************* DEBUT PAGE HEADER *****************************/
header
{
    background: #f5edf7;
    height: 175px;
    text-align: center;

}

#logo
{
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px;
}

#slogan
{
    width: 50%;
    float: left;
}

#reseausociaux
{
    width: 25%;
    float: left;
}

#reseauSociaux i
{
    font-size: 2em;
    text-align: right;
    color: lightblue;
    display: block;
    padding: 10px 30px 0 0;
}

/********************* FIN HEADER *****************************/
/************************* MENU ******************************/
nav
{
text-align: center;
}
nav a
{
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

nav li
{
    list-style: none;
    margin: 5px 10px;
    text-align: center;
}

/* (presque) fin de la partie positionnement/déco */
/* dans cette déclaration, on fixe le max-height */
#menu ul
{
	position: absolute;
	top: 2em; left: 0;
	max-height:0em;
	margin: 0; padding: 0;
	background-color: #ddd;
	background-image: linear-gradient(#fff, rgb(200, 128, 244), #fff);
	overflow: hidden;
	transition: 0.4s max-height 0.1s;
	border-radius: 0 0 45px 45px;
}

#menu > li, #menu > li li
{
	position: relative;
	display: inline-block;
	width: 170px;
	padding: 15px 18px;
	background-color: #6441A4;
	background-image: linear-gradient(rgb(118, 36, 168), rgb(0, 0, 0) -50%, rgb(118, 36, 168) 50%,rgb(0, 0, 0));
}

#menu > li li
{
     background: transparent none;
}

#menu > li li a
{
    color: #444;
}

#menu > li li:hover
{
    background:#eee;
}

#menu > li:first-child
{

	border-radius: 45px 0 0 45px;
}

#menu > li + li
{

}

#menu > li:last-child
{
	border-radius: 0 45px 45px 0 ;
}

#menu > li:hover
{
    text-decoration: underline;
	background-image: linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
	cursor: pointer;
    box-shadow: none;
}

/* ici on change la valeur de max-height au :hover */
#menu > li:hover ul
{
	max-height: 15em;
}
/*****************************FIN MENU **************************/
