header
{
    height: 175px;
    text-align: center;

}


#infoDebut
{
    width: 90%;
    height: 20px;
    background: silver;
    float:left;
}

#infoMid
{
    width: 90%;
    height: 35px;
    background: red;
}

#infoBot
{
    width: 90%;
    height: 50px;
    background: green;
}

#reseauSociaux
{
    width: 25%;
    float: left;
}

#reseauSociaux i
{
    font-size: 2em;
    text-align: right;
    color: lightblue;
    display: block;
    padding: 10px 30px 0 0;
}

.clear
{
    clear:both;
}
