
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /github/WebForce3/WORDPRESS/la_bonne_bouffe/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /github/WebForce3/WORDPRESS/la_bonne_bouffe/index.php [L]
</IfModule>

# END WordPress