*
{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /* Reset */

body
{
    scroll-behavior: smooth;
}

h1
{
    font-size: 45px;
    color: #2980b9;
    margin-top: 50px;
    text-align: center;
    font-family: 'Playball', cursive;
}

h2
{
    font-size: 35px;
    color: #2c3e50;
    padding: 20px;
    font-weight: bold;
}

h3
{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
}

blockquote
{
    font-style: italic;
    font-size: 120%;
}

strong
{
    font-weight: bold;
}

main
{
    background: #ecf0f1; /* pas de hauteur car il contient aside et section donc il se dimension selon eux*/
    width: 1000px;
    margin: 0 auto;
}

aside
{
    height:250px;
    background: yellow;
}

section
{
    /*height: 600px;*/
    /*background: green;*/
    margin-top: 50px;
    padding: 20px;
}

footer
{
    background:#2980b9;
    height: 50px;
}


/* Fin de la premiere partie (mise en forme de la page) */
/********************* DEBUT PAGE HEADER *****************************/
header
{
    background: #2c3e50;
    height: 175px;
    text-align: center;

}

#zoning7
{
    /*background: yellow;*/
    width: 800px;
    margin: 0 auto;
}

#zoning7 header
{
    color: black;
    padding: 0;
    height: 90px;
    text-align: center;
}

.haut1
{
    float: left;
    width: 25%;
    height: 100%;
}

.haut2
{
    float: left;
    width: 50%;
    height: 100%;
}

.pink
{
    background: pink;
}

.darkblue
{
    background: darkblue;
}

.haut3
{
    float: left;
    width: 25%;
    height: 100%;
}

#zoning7 nav
{
    background: #9a40a4;
    height: 30px;
    border: none;
}

#zoning7 aside
{
    background: blue;
    width: 20%;
    height: 650px;
    float: left;
}

#zoning7 section
{
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
}

section.slideshow
{
    background: pink;
    height: 250px;
}

#zoning7 .a
{
    background: red;
    width: 50%;
    height: 250px;
    float: left;
}

#zoning7 .b
{
    background: yellow;
    width: 50%;
    height: 250px;
    float: left;
}

#zoning7 .c
{
    background: green;
    width: 25%;
    height: 150px;
    float: left;
}

#zoning7 .d
{
    background: lavender;
    width: 25%;
    height: 150px;
    float: left;
}

#zoning7 footer
{
    background: purple;
    height: 50px;
}
