@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
    outline: 0 none;
    border: 0 none;
}

#main-nav
{
    background-color: forestgreen;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -150px;
    transition: all .6s ease-out;
}

#main-nav ul
{
    float: right;
    background-color: aliceblue;
    width: 150px;
    list-style-type: none;
}

#main-nav.opened
{
    right: 0;
    transition: all 0.6 ease-in;
}
