@charset "UTF-8";

body
{
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
}

#block
{
    width: 101px;
    height: 101px;
    background: lavender;
    position: absolute;
    top: 100px;
    left: 100px;
}

#my-form
{
    margin-left: 10em;
    border: 1px solid;
}

/*#conteneur:hover
{
    transition: 1s;
    transform: translateX(10px);
    transform: translateY(100px);
}*/
