main
{
    border: 2px solid;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

header
{
    background: #f6523f;
    height: 15vh;
}

nav
{
    background: #665533;
    height: 5vh;
}

section
{
    background: #626F92;
    margin: 2%;
}

footer
{
    background: 474168;
    height: 7.5vh;
}

.a, .b, .c ,.d
{
    float: left;
    width: 50%;
    height: 28vh;
}

.a
{
    background: #6acaFc;
}

.b
{
    background: #6ce6dd;
}

.c
{
    background: #0b5269;
}

.d
{
    background: #2994b2;
}

.clear
{
     clear: both;
}

p
{
    margin: 0;
}
