
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /github/WebForce3/WORDPRESS/babar/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /github/WebForce3/WORDPRESS/babar/index.php [L]
</IfModule>

# END WordPress