                            /*----- RESET------ */
@charset "UTF-8";

*{
box-sizing:border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0 none;
outline: 0 none;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body{
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
}


                            /*----- RESET------ */


#main-header{
    background: aliceblue;
    position: fixed;
    height: 60px;
    width: 100%;
}

#main-nav{
    width: 100%;
    max-width: 960px;  /*Responsive assez rapide*/
    margin: auto;
}

#main-nav ul{
    list-style-type: none;
    line-height: 60px;
}

#main-nav ul li{
    display: inline-block;
}

#main-nav ul li a{
    text-decoration: none;
    color: #03051E;
    padding-left: 100px;
}


.page{
    width: 100%;
    height: 100%;
    color: white;
    padding: 65px 30px;
    font-weight: bold;
}

#presentation{
    background: #324e7b;
}

#expertises{
    background: #86a6df;
}

#experiences{
    background: #5068a9;
}

#formation{
    background: #070739;
}
