.shuban-help-bar {
  background: #1e88e5 !important;
  margin-right: 10px !important;
}

.shuban-help-bar a {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.shuban-help-bar a:before {
  content: "\f468";
  top: 2px;
}

.shuban-about-next-icon {
  color: #82878c;
  padding: 0 10px 0 0;
  vertical-align: middle;
}

.shuban-wrap h2, .shuban-wrap h3 {
  letter-spacing: .25px;
}

.shuban-text-center {
  text-align: center;
}

.shuban-d-iblock {
  display: inline-block;
}

.img-responsive {
    max-width: 100%;
}
